.nt_hidden {
    display: none;
}

#nt_wrapper {
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid #ff0fbb;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#nt_header h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
}

#nt_header span {
    font-family: 'Pacifico', 'Lobster', 'Roboto', sans-serif;
    /* background-color: #333;
    border: 3px solid #333;
    border-radius: 100px; */
    color: #333;
    border-bottom: 3px solid #ff0fbb;
    font-size: 50px;
    /* text-decoration: underline; */
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
}

#nt_header img {
    max-width: 400px;
    border: 3px solid #ff0fbb;
    border-radius: 20px;
    margin-top: -83px;
}

.nt_button {
    color: #333;
    font-size: 16px;
    background-color: #ddd;
    border: 2px solid #333;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: all .4s ease;
}

.nt_button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.nt_button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.nt_button:disabled:hover {
    background-color: #bbb;
}

#nt_generateNumber,
#nt_repeatNumber,
#nt_revealSolution {
    color: white;
    font-size: 1.3em;
    margin: 10px;
}

#nt_generateNumber {
    background-color: #28a745;
}

#nt_repeatNumber {
    background-color: #007bff;
}

#nt_revealSolution {
    background-color: #fd7e14;
}

.nt_number {
    width: 60px;
    height: 60px;
    line-height: 60%;
    /* Center text vertically */
    text-align: center;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    transition: all .2s ease;
}

.nt_number:hover {
    transform: scale(1.5);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.nt_range-container,
.nt_game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nt_slider-container {
    background-color: #eee;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

#nt_slider-container p {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 1.2em;
}

#nt_numbersArea {
    margin-top: 20px;
    ;
}

#nt_content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nt_correct {
    background-color: green;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.3);
}

.nt_incorrect {
    background-color: lightcoral;
}

.nt_active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

/* ----- Stats styling ----- */
#nt_stats {
    font-size: .6em;
    border: 3px solid #ff0fbb;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 0px 0px 10px 0px;
    max-width: 300px;
    margin: 0px auto -22px auto;
}

#nt_accuracyDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nt_accuracyDisplay p {
    margin-bottom: 0px;
    color: #666;
    font-size: .9em;
}

#nt_correctClicks,
#nt_totalClicks,
#nt_accuracy {
    font-weight: 600;
    color: #007bff;
}

#nt_bestResultDisplay span {
    font-weight: 600;
    color: #28a745;
}

#nt_bestResultDisplay h3 {
    font-weight: 500;
    margin: -15px 0 5px 0;
}

#nt_bestResultDisplay p {
    margin: 0 0 0 0;
}

/* ----- Codeblock styling ----- */
.nt_code-container {
    font-family: monospace, sans-serif;
    margin: 60px auto 20px auto;
    max-width: 600px;
}

.nt_embed-hint {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 10px;
    text-align: center;
}

.nt_code-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nt_code-area {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-top: 0px;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 600px;
    height: 50px;
    overflow: auto;
}

.nt_copy-button {
    cursor: pointer;
}

@media (max-width: 494px) {
    .nt_number {
        width: 50px;
        height: 50px;
        line-height: 40px;
        font-size: 20px;
    }

    #nt_header img {
        max-width: 250px;
        border-radius: 10px;
    }

    #nt_header span {
        font-size: 30px;
    }
}

@media (max-width: 323px) {

    #nt_header img {
        max-width: 200px;
    }

    #nt_header span {
        border-bottom: none;
    }
}